In [1]:
import pandas as pd
import os

In [2]:
os.getcwd()

'/Users/vpavandijk/LEARNING/Ironhack/AMS_mini_project'

In [3]:
data = pd.read_excel('/Users/vpavandijk/LEARNING/Ironhack/AMS_mini_project/data/2020_BBGA_0303.xlsx')

In [4]:
data

,niveau,niveaunaam,SD,sdnaam,gebiedcode15,gebiedcodenaam,gebiednaam,GSD,jaar,BEVTOTAAL,...,SK017_KWETS34,SK017_KWETS34_P,SK1826_KWETS34,SK1826_KWETS34_P,SK2765_KWETS34,SK2765_KWETS34_P,SK66PLUS_KWETS34,SK66PLUS_KWETS34_P,SKACTI,SKACTI_1000INW
0,1,Amsterdam,S,Amsterdam,STAD,Amsterdam,Amsterdam,NaN,2040.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Stadsdelen,A,A Centrum,A,A Centrum,Centrum,NaN,2040.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Stadsdelen,B,B Westpoort,B,B Westpoort,Westpoort,NaN,2040.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,Stadsdelen,E,E West,E,E West,West,NaN,2040.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2,Stadsdelen,F,F Nieuw-West,F,F Nieuw-West,Nieuw-West,NaN,2040.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19156,11,4-cijferige postcode,NaN,NaN,1088,1088,1088,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19157,11,4-cijferige postcode,NaN,NaN,1089,1089,1089,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19158,11,4-cijferige postcode,NaN,NaN,1090,1090,1090,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19159,11,4-cijferige postcode,NaN,NaN,1099,1099,1099,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19160,11,4-cijferige postcode,NaN,NaN,1100,1100,1100,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data_business_activity = data[['niveaunaam', 'sdnaam', 'jaar', 'BHVEST', 'BHZZP', 'BHSTART', 'BHKANTRUIM', 'BHWP_1000INW']]
data_business_activity
# data_business_activity.isnull().sum()

,niveaunaam,sdnaam,jaar,BHVEST,BHZZP,BHSTART,BHKANTRUIM,BHWP_1000INW
0,Amsterdam,Amsterdam,2040.0,NaN,NaN,NaN,NaN,NaN
1,Stadsdelen,A Centrum,2040.0,NaN,NaN,NaN,NaN,NaN
2,Stadsdelen,B Westpoort,2040.0,NaN,NaN,NaN,NaN,NaN
3,Stadsdelen,E West,2040.0,NaN,NaN,NaN,NaN,NaN
4,Stadsdelen,F Nieuw-West,2040.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
19156,4-cijferige postcode,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19157,4-cijferige postcode,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19158,4-cijferige postcode,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19159,4-cijferige postcode,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19160,4-cijferige postcode,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_nulls = data_business_activity.loc[data_business_activity['BHVEST'].isnull()].index
data_business_activity_clean = data_business_activity.drop(df_nulls)
data_business_activity_clean
df_wrong_niveau = data_business_activity_clean.loc[data_business_activity_clean['niveaunaam'] != 'Stadsdelen'].index
data_business_activity_clean = data_business_activity_clean.drop(df_wrong_niveau)
data_business_activity_clean

,niveaunaam,sdnaam,jaar,BHVEST,BHZZP,BHSTART,BHKANTRUIM,BHWP_1000INW
3566,Stadsdelen,A Centrum,2019.0,23350.0,11128.0,1915.0,2635.0,1194.0
3567,Stadsdelen,B Westpoort,2019.0,1553.0,210.0,57.0,268.0,139836.0
3568,Stadsdelen,E West,2019.0,21048.0,14277.0,2211.0,834.0,346.0
3569,Stadsdelen,F Nieuw-West,2019.0,15193.0,8568.0,2171.0,832.0,516.0
3570,Stadsdelen,K Zuid,2019.0,23668.0,12690.0,2154.0,1960.0,798.0
...,...,...,...,...,...,...,...,...
15094,Stadsdelen,F Nieuw-West,2008.0,7126.0,2476.0,807.0,NaN,492.0
15095,Stadsdelen,K Zuid,2008.0,14545.0,4649.0,1263.0,NaN,636.0
15096,Stadsdelen,M Oost,2008.0,7697.0,3141.0,844.0,NaN,462.0
15097,Stadsdelen,N Noord,2008.0,4989.0,1886.0,529.0,NaN,301.0
15098,Stadsdelen,T Zuidoost,2008.0,3970.0,1349.0,434.0,NaN,770.0

In [12]:
data_business_activity_clean.to_excel('/Users/vpavandijk/LEARNING/Ironhack/AMS_mini_project/data/business_activity.xlsx', index=False)

In [7]:
data_demographics = data[['niveaunaam', 'sdnaam', 'jaar', 'BEVTOTAAL', 'BEVPOTBBV15_64', 'BEVOPLLAAG_P', 'BEVOPLMID_P', 'BEVOPLHOOG_P']]
data_demographics
# data_demographics.isnull().sum()

,niveaunaam,sdnaam,jaar,BEVTOTAAL,BEVPOTBBV15_64,BEVOPLLAAG_P,BEVOPLMID_P,BEVOPLHOOG_P
0,Amsterdam,Amsterdam,2040.0,NaN,NaN,NaN,NaN,NaN
1,Stadsdelen,A Centrum,2040.0,NaN,NaN,NaN,NaN,NaN
2,Stadsdelen,B Westpoort,2040.0,NaN,NaN,NaN,NaN,NaN
3,Stadsdelen,E West,2040.0,NaN,NaN,NaN,NaN,NaN
4,Stadsdelen,F Nieuw-West,2040.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
19156,4-cijferige postcode,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19157,4-cijferige postcode,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19158,4-cijferige postcode,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19159,4-cijferige postcode,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19160,4-cijferige postcode,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_nulls_demographics = data_demographics.loc[data_demographics['BEVTOTAAL'].isnull()].index
data_demographics_clean = data_demographics.drop(df_nulls_demographics)
data_demographics_clean
df_wrong_niveau_demographics = data_demographics_clean.loc[data_demographics_clean['niveaunaam'] != 'Stadsdelen'].index
data_demographics_clean = data_demographics_clean.drop(df_wrong_niveau_demographics)
data_demographics_clean

,niveaunaam,sdnaam,jaar,BEVTOTAAL,BEVPOTBBV15_64,BEVOPLLAAG_P,BEVOPLMID_P,BEVOPLHOOG_P
2661,Stadsdelen,A Centrum,2020.0,87310.0,66424.0,NaN,NaN,NaN
2662,Stadsdelen,B Westpoort,2020.0,106.0,83.0,NaN,NaN,NaN
2663,Stadsdelen,E West,2020.0,147421.0,114552.0,NaN,NaN,NaN
2664,Stadsdelen,F Nieuw-West,2020.0,160124.0,112515.0,NaN,NaN,NaN
2665,Stadsdelen,K Zuid,2020.0,146291.0,105796.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
17968,Stadsdelen,F Nieuw-West,2005.0,130263.0,84546.0,NaN,NaN,NaN
17969,Stadsdelen,K Zuid,2005.0,130737.0,96503.0,NaN,NaN,NaN
17970,Stadsdelen,M Oost,2005.0,100882.0,74655.0,NaN,NaN,NaN
17971,Stadsdelen,N Noord,2005.0,88119.0,57441.0,NaN,NaN,NaN
17972,Stadsdelen,T Zuidoost,2005.0,80550.0,57644.0,NaN,NaN,NaN

In [11]:
# os.getcwd()
data_demographics_clean.to_excel('/Users/vpavandijk/LEARNING/Ironhack/AMS_mini_project/data/demographics.xlsx', index=False)